.section-blue {
  position: absolute;
  background-color: var(--ion-color-primary);
  width: 100%;
  height: 100%;
}

.middle-position {
  position: absolute;
  top: 50%;
  left: 0;
  right: 50%;
  width: 100%;
  padding: 0 16px;
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
  text-align: center;
}

.text-color {
  color: #fff;
}
