.section-white {
  position: absolute;
  width: 100%;
  height: 100%;
}

.middle-position {
  position: absolute;
  top: 40%;
  left: 0;
  right: 50%;
  width: 100%;
  padding: 0 16px;
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

.checkmark {
  color: var(--ion-color-success);
  font-size: 1.5em !important;
  margin-bottom: 25px;
}
