.section-blue {
  position: absolute;
  background-color: var(--ion-color-primary-shade);
  width: 100%;
  height: 100%;
}

.middle-position {
  position: absolute;
  top: 40%;
  left: 0;
  right: 50%;
  width: 100%;
  padding: 0 16px;
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

.text-color {
  color: var(--ion-color-primary-contrast);
}
